@model IEnumerable<ProjectMedium.Models.DataAccess.Entitites.Note>



    <div class="row">

        <div class="col-1"></div>
        <div class="col-10">

            <div class="navbar">


                <span>

                    @Html.ActionLink("Başlık İsmine Göre Sıralama", "Index", new { sortOrder = ViewBag.TitleNameSortOrder })
                </span>
                <span class="float-end">

                    @Html.ActionLink("Tarihe Göre Sırala", "Index", new { sortOrder = ViewBag.CreatedDateSortOrder })
                </span>
            </div>

            @foreach (var item in Model)
            {


                <div class="row">
                    <div class="col-8">
                        <div class="modal-footerbydem card-title bg-darkbydem fw-bolder text-center">

                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                        <div class="modal-contentbydem">
                            @Html.DisplayFor(modelItem => item.Content)

                        </div>
                        <div class="card-footer">
                            <span class="card-linkbyddemir">Okunma Sayısı: @Html.DisplayFor(modelItem => item.ReadingCount)</span>
                            <span class="card-linkbyddemir">Tahmini Okum Süresi: @Html.DisplayFor(modelItem => item.ReadingTime)</span>

                        </div>
                    </div>
                    <div class="col-4">
                        @Html.DisplayFor(modelItem => item.User.Photo)
                    </div>
                </div>

            }

        </div>

        <div class="col-1"></div>
    </div>

</div>

